.banner {
  align-items: center;
  text-align: center;
  padding: 0 32px;

  a {
    margin: 24px 0;
  }
}

h1 {
  margin: 24px 0;
  font-size: 96px;
}

p {
  margin: 24px 0;
  font-size: 48px;
}

a {
  &.button {
    padding: 48px 64px;
    font-size: 48px;
  }
}
