.banner {
  align-items: center;
  text-align: center;
  padding: 32px 32px;
  background-image: url(image_path("gpatt.png"));
  background-position: center;
  background-size: cover;

  .cont {
    background-color: rgba(255,255,255,.7);
    padding: 16px;
  }

  .big {
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    margin-bottom: 32px;
    overflow: hidden;
    padding: 7.5vh;
    box-shadow: inset 5px 5px 30px -5px #333333;
    background-color: white;

    img {
      width: 100%;
    }
  }

  a {
    margin: 24px 0;
  }
}

.section {
  width: 100%;
  padding: 32px 32px;
  position: relative;

  .divide {
    display: none;
  }

  .right,.left {
    width: 100%;

    .image {
      width: 60%;
      padding: 32px;
      margin: auto;

      img {
        width: 100%;
        border-radius: 100%;
      }
    }

    .cont {
      width: 100%;
      text-align: center;

      h2 {
        font-weight: 400;
      }

      p {
        font-size: 100%;
      }
    }
  }
}


h1 {
  margin: 24px 0;
  font-size: 96px;
}

h2 {
  margin: 24px 0;
  font-size: 84px;
}

h3 {
  margin: 24px 0;
  font-size: 300%;
}

p {
  margin: 24px 0;
  font-size: 300%;
}

a {
  &.button {
    padding: 48px 64px;
    font-size: 300%;
  }
}


.fsection {
  padding: 32px 32px;
  background-image: url(image_path("rback.png"));
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;

  &.form {
    display: flex;
  }
}

.form {
  width: 100%;
  text-align: left;
  color: white;
  margin: auto;

  h2 {
    text-transform: uppercase;
  }

  .note {
    display: block;
    font-size: 75%;
  }

  form {
    input, select, textarea {
      width: 100%;
      height: 96px;
      margin: 16px 0;
      font-size: 300%;
      font-weight: 200;
      padding: 16px;
      font-family: inherit;
      outline: none;
    }

    label {
      font-size: 300%;
    }

    textarea {
      height: 128px;
      resize: none;
    }

    .hint {
      display: block;
      text-align: right;
      font-size: 75%;
      font-style: italic;
    }


    select {
      background-color: white;
    }

    input[type=checkbox] {
      width: 48px;
      height: 48px;
      margin: 16px 16px 16px 0;
    }

    .form_section {
      &#device, &#address {
        width: 100%;
        position: relative;

        &.new {
          #new_device, #new_address {
            display: block;
          }

          #old_device, #old_address {
            display: none;
          }
        }

        &.old {
          #new_device, #new_address {
            display: none;
          }

          #old_device, #old_address {
            display: block;
          }
        }

        #new_device, #new_address, #old_device, #old_address {
          span {
            text-decoration: none;
            color: inherit;
            font-weight: 300;
            cursor: pointer;
            display: block;
            text-align: right;
            font-size: 75%;
          }
        }
      }
    }

    .form-actions {
      display: flex;

      input {
        background-color: #22b573;
        border: none;
        color: white;
        font-weight: 400;
        cursor: pointer;
        height: 96px;
        font-size: 300%;
        text-transform: uppercase;

      }
    }
  }
}


.rsection, .dsection, .asection {
  width: 100%;
  padding: 32px 32px;
  position: relative;
  text-align: left;
  background-image: url(image_path("rwback.png"));
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;

  p.fillpage {
    font-size: 150%
  }


  h2 {
    span {
      font-size: 25%;
      font-weight: 300;
    }
  }

  .device, .address {
    p {
      font-size: 250%;
    }
  }

  .repair, .device, .address {
    width: 100%;
    background-color: white;
    padding: 20px 32px;
    margin-bottom: 32px;
    box-shadow: 0px 0px 15px -5px black;

    h3 {
      font-weight: 400;
    }

    span {
      font-size: 75%;
      font-weight: 300;
    }

    .info {
      margin: 16px 0;

      p {
        span {
          font-size: 100%;
          font-weight: 400;
        }
      }
    }

    .links {
      display: flex;
      justify-content: space-between;
      margin: 8px 0;

      a {
        font-size: 250%;

        &:hover {
          color: #00A99D;
        }
      }
    }

    .adminlinks {
      font-size: 75%;

      a {
        margin-right: 16px;

        &:hover {
          color: #00A99D;
        }
      }
    }
  }
}

.rssection, .dssection, .assection {
  width: 100%;
  padding: 32px 32px;
  position: relative;
  text-align: left;
  background-image: url(image_path("rwback.png"));
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;

  p.fillpage {
    font-size: 150%
  }


  h2 {
    span {
      font-size: 25%;
      font-weight: 300;
    }
  }

  .device, .address {
    p {
      font-size: 250%;
    }
  }

  .repair, .device, .address {
    width: 100%;
    padding: 20px 32px;
    background-color: white;
    margin-bottom: 32px;
    box-shadow: 0px 0px 15px -5px black;

    h3 {
      font-weight: 400;
      font-size: 450%;
    }

    span {
      font-size: 200%;
      font-weight: 300;
    }

    .info {
      margin: 16px 0;

      p {
        span {
          font-size: 100%;
          font-weight: 400;
        }
      }
    }

    .links {
      display: flex;
      justify-content: space-between;
      margin: 8px 0;

      a {
        font-size: 250%;

        &:hover {
          color: #00A99D;
        }
      }
    }

    .adminlinks {
      font-size: 75%;

      a {
        margin-right: 16px;

        &:hover {
          color: #00A99D;
        }
      }
    }
  }
}


.testimonials {
  width: 100%;
  padding: 32px 32px;
  position: relative;

  h3 {
    font-weight: 400;
    text-align: left;
  }

  .tflex {
    display: flex;
    flex-direction: column;

    .testimonial {
      width: 100%;
      padding: 32px 0;
      flex-basis: 0;
      flex-grow: 1;

      img {
        width: 300px;
        height: 300px;
        border-radius: 100%;

      }

      p {
        font-size: 20px;
      }

      span {
        font-size: 75%;
        text-align: right;
        display: block;
        font-weight: 300;
      }
    }
  }
}

.tsection {
  width: 100%;
  padding: 32px 64px;
  position: relative;
  text-align: left;

  p {
    margin: 8px 0 24px 0;
    font-size: 100%;
  }

  h3, h4 {
    font-weight: 400;
    margin-top: 64px;
  }

  h2, h3, h4 {
    text-transform: uppercase;
  }
}


.pagination {
  display: flex;
  justify-content: center;

  a, span, em {
    display: inline-block;
    line-height: 60px;
    text-align: center;
    font-weight: 300;
    height: 60px;
    font-size: 300%;
  }

  em {
    width: 60px;
    border-radius: 100%;
  }

  a:not(.next_page):not(.previous_page) {
    width: 60px;
    border-radius: 100%;

    &:hover {
      background-color: #00A99D;
      color: white;
    }
  }

  a.next_page, a.previous_page {
    padding: 0 32px;

    &:hover {
      color: #00A99D;
    }
  }

  span {
    padding: 0 32px;

    &.disabled {
      color: #c0c0c0;
    }
  }

  em {
    background: #22B573;
    color: white;
    font-style: inherit;
    text-decoration: none;
  }

}
