.banner {
  align-items: left;
  text-align: left;
  padding: 0 128px;
  background-image: url(/assets/gpatt.png);
  background-position: center;
  background-size: cover;

  .cont {
    background-color: rgba(255,255,255,.7);
    padding: 16px;

    a {
      margin: 8px 0;
    }
  }

  .big {
    position: absolute;
    right: 192px;
    width: 50vh;
    height: 50vh;
    border-radius: 100%;
    overflow: hidden;
    padding: 10vh;
    box-shadow: inset 1px 1px 10px -2px #333333;
    background-color: white;

    img {
      width: 100%;
    }
  }
}

.section {
  width: 100%;
  padding: 32px 128px;
  position: relative;

  .divide {
    position: absolute;
    width: 0px;
    height: 80%;
    left: 50%;
    top: 10%;
    border: 1px solid #e3e3e3;
  }

  .right,.left {
    width: 50%;
    display: flex;

    .image {
      width: 50%;
      padding: 32px;

      img {
        width: 100%;
        border-radius: 100%;
      }
    }
    .cont {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .left {
    float: left;
    flex-direction: row-reverse;

    .cont {
      text-align: right;
    }
  }

  .right {
    float: right;

    .cont {
      text-align: left;
    }
  }
}

h1 {
  margin: 8px 0;
  font-size: 48px;
}

h2 {
  margin: 8px 0;
  font-size: 32px;
}

h3 {
  margin: 4px 0;
  font-size: 24px;
}

p {
  margin: 8px 0;
}

a {
  &.button {
    padding: 16px 24px;
  }
}

.fsection {
  padding: 32px 128px;
  background-image: url(/assets/dback.png);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  flex: 1;

  &.left {
    background-image: url(/assets/rback.png);
    background-position: right;
    background-size: cover;

    .form {
      margin: 0 auto 0 0;

      h2 {
        text-align: left;
      }
    }
  }

  &.right {
    background-image: url(/assets/lback.png);
    background-position: left;
    background-size: cover;

    .form {
      margin: 0 0 0 auto;

      h2 {
        text-align: left;
      }
    }
  }

  &.form {
    display: flex;
  }
}

.form {
  width: 416px;
  padding: 4px 16px 16px;
  text-align: left;
  color: white;
  margin: auto;

  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  form {
    input, select, textarea {
      width: 100%;
      height: 32px;
      margin: 4px 0;
      font-weight: 200;
      padding: 4px;
      font-family: inherit;
      outline: none;
    }

    textarea {
      height: 128px;
      resize: none;
    }

    .hint {
      display: block;
      text-align: right;
      font-size: 12px;
      font-style: italic;
    }

    select {
      background-color: white;
    }

    input[type=checkbox] {
      width: auto;
      height: auto;
      margin: 8px 8px 8px 0;
    }

    .form_section {
      &#device, &#address {
        width: 100%;
        position: relative;

        &.new {
          #new_device, #new_address {
            display: block;
          }

          #old_device, #old_address {
            display: none;
          }
        }

        &.old {
          #new_device, #new_address {
            display: none;
          }

          #old_device, #old_address {
            display: block;
          }
        }

        #new_device, #new_address, #old_device, #old_address {
          span {
            text-decoration: none;
            color: inherit;
            font-weight: 100;
            cursor: pointer;
          }
        }
      }
    }

    .form-actions {
      display: flex;

      input {
        background-color: #22b573;
        border: none;
        color: white;
        font-weight: 400;
        cursor: pointer;
        height: 34px;
        text-transform: uppercase;

      }
    }
  }
}
