%table
  %tr.text.left.h1.fallback-text
    %td= "Thanks for applying, #{@rep.name}"
  %tr.text.fallback-text
    %td Your application will be looked over and you will be contacted if you are picked to advance to the next stage. We sincerely appreciate your interest in becoming a part of our organisation.
