%table
  %tr.text.left.first.h1.fallback-text
    %td= "Hi, #{@rep.name}"
  %tr.text.left.fallback-text
    %td We appreciate your interest in becoming a part of our organization.
  %tr.text.left.fallback-text
    %td Your application will be reviewed and if you are selected, an email will be sent to you containing instructions on how to proceed. We wish you success.
  %tr.text.right.fallback-text
    %td - Fixus
