.banner
  %h1
    Need a quick fix?
    %br
    We can help!
  %p Get it fixed by experts in record time without ever leaving your house!
  = link_to 'Fix It Now', new_repair_path, class: 'button highlight'
