.fill
  = image_tag 'fix.png', alt: "Fixus logo", class: 'fixus_icon'
  = image_tag 'fixus_logo_c.svg', alt: "Fixus logo", class: 'fixus_logo'
  %p
    This site is currently under maintenance. We'll be back soon. For now you can reach us on
    = link_to 'Instagram ( @_fixus ).', 'https://www.instagram.com/_fixus/'
    If you want to become a rep in your university, please
    = link_to 'click here', reps_path
