# This file should contain all the record creation needed to seed the database with its default values.
# The data can then be loaded with the rails db:seed command (or created alongside the database with db:setup).
#
# Examples:
#
#   movies = Movie.create([{ name: 'Star Wars' }, { name: 'Lord of the Rings' }])
#   Character.create(name: 'Luke', movie: movies.first)


sadmin = Admin.new
sadmin.firstname = "Hans"
sadmin.lastname = "Growe"
sadmin.dob = Date.today
sadmin.gender = 1
sadmin.email = "fixusbot@gmail.com"
sadmin.phone = "09086439929"
sadmin.password = "123456"
sadmin.password_confirmation = "123456"
sadmin.save!
