%table
  %tr.text.left.first.h1.fallback-text
    %td= "Hi, #{@resource.firstname}"
  %tr.text.left.fallback-text
    %td
      - if @resource.try(:unconfirmed_email?)
        We would like to inform you that your email is being changed to #{@resource.unconfirmed_email}.
      - else
        We would like to inform you that your email has been changed to #{@resource.email}.
  %tr.text.left.fallback-text
    %td
      If this was not your doing or you would like to undo this please contact us by sending an email to fixusbot@gmail.com or calling us at (insert number here)
  %tr.text.right.fallback-text
    %td - Fixus
