%table
  %tr.text.left.first.h1.fallback-text
    %td= "Hi, #{@resource.firstname}"
  %tr.text.left.fallback-text
    %td Someone has requested a link to change your password. If you didn't request this, please ignore this email. Your password won't change until you access the link below and create a new one.
  %tr.text.left.fallback-text
    %td
      You can
      = link_to 'click here to change your password.', edit_password_url(@resource, reset_password_token: @token)
      Or copy the following url into your browser:
      = edit_password_url(@resource, reset_password_token: @token)
  %tr.text.right.fallback-text
    %td - Fixus
