= f.simple_fields_for :address do |add_f|
      = add_f.input :line_1, placeholder: "Address Line 1"
      = add_f.input :line_2, placeholder: "Address Line 2"
      = add_f.input :lga, placeholder: "Local Government Area"
