= f.simple_fields_for :device do |dev_f|
      = dev_f.input :name, placeholder: "Device name"
      = dev_f.input :color, placeholder: "Device color"
      = dev_f.input :serial_number, placeholder: "Device Serial Number"
