
@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-LightItalic.eot');
	src: font-url('SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-LightItalic.woff') format('woff'),
		font-url('SourceSansPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-Italic.eot');
	src: font-url('SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-Italic.woff') format('woff'),
		font-url('SourceSansPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-ExtraLightItalic.eot');
	src: font-url('SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-ExtraLightItalic.woff') format('woff'),
		font-url('SourceSansPro-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-ExtraLight.eot');
	src: font-url('SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-ExtraLight.woff') format('woff'),
		font-url('SourceSansPro-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-Black.eot');
	src: font-url('SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-Black.woff') format('woff'),
		font-url('SourceSansPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-Light.eot');
	src: font-url('SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-Light.woff') format('woff'),
		font-url('SourceSansPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-Regular.eot');
	src: font-url('SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-Regular.woff') format('woff'),
		font-url('SourceSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-SemiBoldItalic.eot');
	src: font-url('SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-SemiBoldItalic.woff') format('woff'),
		font-url('SourceSansPro-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-BoldItalic.eot');
	src: font-url('SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-BoldItalic.woff') format('woff'),
		font-url('SourceSansPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-SemiBold.eot');
	src: font-url('SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-SemiBold.woff') format('woff'),
		font-url('SourceSansPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-Bold.eot');
	src: font-url('SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-Bold.woff') format('woff'),
		font-url('SourceSansPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: font-url('SourceSansPro-BlackItalic.eot');
	src: font-url('SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		font-url('SourceSansPro-BlackItalic.woff') format('woff'),
		font-url('SourceSansPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
