* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: auto;
  color: white;
  width: 100%;
  background: #22b573;

  .logo {
    float: left;

    img {
      height: 100%;
    }
  }
}

#footer {
  position: relative;
  margin-top: auto;
  width: 100%;
  background-color: #e8e8e8;

  .links {
    text-align: left;

    span, a {
      display: block;
    }

    span {
      font-weight: 400;
    }
  }

  #logos {
    img {
      padding: 16px;
      background-color: white;
      box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.5);
    }

    .crystal_haze {
      border-radius: 100%;
    }

    .fixus {
      border-radius: 2px;
    }
  }

  #copyright {
    font-weight: 100;
  }
}
