* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Product Sans';
  text-align: center;
  display: inline-block;
}

#header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: auto;
  color: white;
  width: 100%;
  background: #29555C;

  .logo {
    float: left;

    img {
      height: 100%;
    }
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
